* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  align-items: center;
  gap: 45em;
}

header>div>h1 {
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}