* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  align-items: center;
  gap: 50em;
}

header>div>h1 {
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}

.thead-dark {
  background-color: black;
  color: white;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 35px;
  margin: 50px 250px 10px 100px; /*t, r, b, l*/
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7em;
  margin: 20px 0;
}

.input-label {
  display: flex;
  flex-direction: column;
}